.mainLoader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000000;
    background-color: #0b0e11;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}
.mainLoader img {
    width: 40%;
    max-width: 450px;
    min-width: 150px;
    margin: auto;
    display: block;
}