.myForm input{
    width: 100%;
    padding: 10px 15px;
    display: block;
    margin-bottom: 15px;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #5e6673;
    background-color: #181a20;
    color: #eaecef;
    text-align: center;
}
.myForm.loginForm{
    border-radius: 5px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 15px 0px;
    background-color: #181a20;
    text-align: center;
}
.myForm.loginForm button{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fcd535;
    color: #181a20;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 45px;
    transition: .3s;
    border-radius: 5px;
    border: none;
    margin: auto;
    cursor: pointer;
    display: block;
}
.myForm.loginForm button:hover,
.myForm.loginForm button:active{
    background-color: #f0b90b;
}
.formErrorInput{
    background-color: #831c1c;
    color: #fff;
    padding: 5px;
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}
.formSubmitError{
    margin-top: 15px;
}